@font-face {
	font-family: 'iconfont';
	src: url('fonts/iconfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-square-f:before {
	content: "\e600";
}
.icon-square:before {
	content: "\e601";
}
.icon-triangle-f:before {
	content: "\e602";
}
.icon-triangle:before {
	content: "\e603";
}
.icon-logo:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-github:before {
	content: "\f113";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-email:before {
	content: "\f1d8";
}
