@import 'nib'
@import './iconfont.css'

*
  box-sizing border-box

body
  font-size 16px
  font-family Lato, sans-serif
  //min-width 1000px
  color rgb(60,60,60)
  background-color #fff
  @media screen and (max-width: 900px)
    padding-left 0
  @media screen and (min-width: 900px)
    padding-left 35%

a
  text-decoration none
  outline 0
  color rgb(60,60,60)
  &, &:active, &:focus
    outline none

@-webkit-keyframes MOVE-BG
  0%
    background-position 0
  100%
    background-position 150px

.overlay-logo
  img
    size 100%
  width 90px
  height 90px
  background-color rgba(0,0,0,1)
  transition background .5s
  &:after
    content ''
    width 90px
    height 90px
    background url('/assets/logo_b.png') 0% 0% repeat-x
    top 0
    left 0
    position absolute
    display inline-block
    z-index -100
    animation MOVE-BG 7s linear infinite

.icon-logo
  font-size 90px
  
.left
  fixed top 50% left 150px
  transform translateY(-50%)
  @media screen and (max-width: 900px)
    display none
  @media screen and (min-width: 900px)
    display block

.top
  position fixed
  left 50%
  transform translateX(-50%)
  top 150px
  z-index -1000
  @media screen and (max-width: 900px)
    display block
  @media screen and (min-width: 900px)
    display none
    

.navi
  font-weight 300
  margin-top 40px
  font-size 12px
  letter-spacing 2px
  .item
    -webkit-filter grayscale(100%)
  .item:hover
    font-weight 400
    -webkit-filter grayscale(0%)
  .item-bold
    font-weight 400
    -webkit-filter grayscale(0%)
  #art
    margin-bottom 5px
  .icon-square,.icon-square-f
    font-size 10px
    padding-left 1px
    padding-right 8px
    color rgb(117,174,214)
  .icon-square-f
    display none
  .icon-triangle,.icon-triangle-f
    font-size 12px
    padding-right 7px
    color rgb(130,228,185)
  .icon-triangle-f
    display none

.contact
  font-size 12px
  padding-top 40px
  letter-spacing 1px
  ul
    list-style-type none
    padding-left 0
  li
    display inline
    margin-right 15px
  a
    color rgb(60,60,60)
  
  .icon
    transition all 0.3s ease
    
  .icon-linkedin:hover
    color #0077B5
  .icon-facebook:hover
    color #3B5998
  .icon-instagram:hover
    color #3F729B
  .icon-github:hover
    color #4183C4
  .icon-email:hover
    color #FF6586
 
  .icon-heart
    opacity 0
    margin-left 5px
    transform translateX(-5px)
    transition all 0.3s ease
    &:hover
      color #FF6586
  .about-hx
    &:hover
      .icon-heart
        opacity 1
        transform translateX(0)
#arts
  clearfix()
  @media screen and (max-width: 900px)
    margin-top 400px
  .art
    .image
      position relative
      float left
      width 50%
      background-size cover
      background-position center
      -webkit-filter grayscale(100%)
      transition all 0.5s ease
      @media screen and (max-width: 900px)
        -webkit-filter grayscale(0%)
      &:hover
        -webkit-filter grayscale(0%)
        cursor zoom-in
    .image-fullscreen
      display none
      background rgba(#fff, .9)
      fixed top left
      size 100%
      cursor zoom-out
      img
        width 700px
        @media screen and (max-width: 900px)
          width 100%
        absolute top 50% left 50%
        transform translate(-50%, -50%)
  .fashion
    font-family Roboto Condensed, sans-serif
    float left
    width 100%
    height 400px
    background-image url('/assets/arts/f.jpg')
    background-size cover
    background-position center
    padding-left 40px
    @media screen and (max-width: 900px)
      -webkit-filter grayscale(0%)
      height 300px
    @media screen and (min-width: 900px)
      -webkit-filter grayscale(100%)
    -webkit-filter grayscale(100%)
    display -webkit-box
    -webkit-box-align center
    transition all 0.5s ease
    &:hover
      -webkit-filter grayscale(0%)
      h1
        text-shadow 4px 0px #323232
    h1
      color #FF65AF
      font-size 80px
      margin 0
      letter-spacing 1.5px
      transition all 0.3s ease
      @media screen and (max-width: 900px)
        text-shadow 2px 0px #323232
        font-size 40px
      
#techs
  clearfix()
  .image
    font-family Roboto Condensed, sans-serif
    font-weight 300
    overflow hidden
    float left
    width 100%
    height 450px
    background-size cover
    display -webkit-box
    -webkit-box-align center
    padding-left 40px
    @media screen and (max-width: 900px)
      -webkit-filter grayscale(0%)
      height 300px
    @media screen and (min-width: 900px)
      -webkit-filter grayscale(100%)
    transition all 0.3s ease
    &:hover
      -webkit-filter grayscale(0%)
      cursor zoom-in
      h1
        text-shadow 4px 0px #323232
    h1
      font-size 80px
      margin 0
      color #fff
      letter-spacing 5px
      transition all 0.3s ease
      @media screen and (max-width: 900px)
        text-shadow 2px 0px #323232
        font-size 40px
  .small
    -webkit-filter grayscale(0%)
    height 80px
    &:hover
      h1
        text-shadow 0 0
    h1
      @media screen and (max-width: 900px)
        display none
      font-size 20px
      letter-spacing 2px
  .desc-card
    background-color #fff
    text-align justify
    padding 0 40px
    font-weight 400
    font-size 18px
    letter-spacing 0.8px
    overflow hidden
    float left
    width 100%
    height 0
    cursor zoom-out
    .content
      padding 40px 0
      .tags
        font-style italic
        color rgb(100,100,100)
        margin-bottom 25px
      .type
        display block
        padding 0 10px
        border-left 4px solid #000 
      .role
        display block
        margin-top 20px
        padding 0 10px
        border-left 4px solid #000 
      p
        clearfix()
        text-align left
      a
        border-bottom 1px dashed rgb(60,60,60)
      img
        size 100%
        margin 20px 0
      .blocks
        margin-top 25px
        font-size 20px
      .block-mock
        display block
        overflow auto
        margin-bottom 20px
        &:nth-child(odd)
          .pic
            size 50%
            float left
            margin-right 20px
        &:nth-child(even)
          .pic
            size 50%
            float right
            margin-left 20px
        .text
          float left
          width 45%
          padding-top 5%
          text-align center

#about
  padding-top 90px
  background-color #fff
  @media screen and (max-width: 900px)
    padding-left 20px
    padding-right 20px
    padding-top 70px
  //@media screen and (min-width: 900px)
    //background-image url("/assets/about_pic.svg")
  //background-position bottom left
  //background-repeat repeat-x
  .avatar
    @media screen and (max-width: 900px)
      display none
    width 180px
    height 180px
    background-image url("/assets/avatar.jpg")
    background-size cover
    //border-radius 90px
    margin-right 40px
    float left
  .right    
    @media screen and (min-width: 900px)
      float left
    @media screen and (max-width: 900px)
      text-align center
      letter-spacing 2px
    .title
      font-size 32px
    .btn
      display block
      width 150px
      border-style solid
      border-width 2px
      border-color rgb(60,60,60)
      text-align center
      padding 6px 8px
      margin-top 20px
      letter-spacing 4px
      font-size 15px
      transition all 0.3s ease
      @media screen and (max-width: 900px)
        width 100%
        background-color rgb(60,60,60)
        color #fff
        font-weight 300
        height 60px
        border-width 0
        font-size 25px
        padding-top 13px
        margin 20px auto
      &:hover
        background-color rgb(60,60,60)
        color #fff
  .desc
    text-align justify
    //margin-top 220px
    clear both
    padding-top 20px
    padding-bottom 60px
    padding-right 20px
    font-size 18px
    @media screen and (max-width: 900px)
      padding-top 0
      padding-left 10px
      padding-right 10px
      padding-bottom 20px
  ul
    margin-left 0
    padding-left 20px
    margin-bottom 50px
  li
    padding-left 6px
    margin-top 10px
  .triangle
    list-style-image url('/assets/triangle.svg') 
  .square
    list-style-image url('/assets/square.svg') 
      
