@import 'nib'
@import './iconfont.css'

*
  box-sizing border-box

body
  font-size 16px
  font-family Lato, sans-serif
  padding-left 40%
  min-width 1000px
  color rgb(50,50,50)

.icon-logo
  font-size 90px
  
.left
  fixed top 50% left 150px
  transform translateY(-50%)

.navi
  font-weight 300
  margin-top 40px
  font-size 12px
  letter-spacing 2px
  a
    text-decoration none
    outline 0
    color rgb(50,50,50)
  .item:hover
    font-weight 400
  .item-bold
    font-weight 400
  #art
    margin-bottom 5px
  .icon-square,.icon-square-f
    font-size 10px
    padding-left 1px
    padding-right 8px
    color rgb(117,174,214)
  .icon-square-f
    display none
  .icon-triangle,.icon-triangle-f
    font-size 12px
    padding-right 7px
    color rgb(130,228,185)
  .icon-triangle-f
    display none

.contact
  font-size 12px
  padding-top 40px
  letter-spacing 1px
  ul
    list-style-type none
    padding-left 0
  li
    display inline
    margin-right 15px
  a
    text-decoration none
    outline 0
    color rgb(50,50,50)
  
  .icon
    transition all 0.3s ease
    
  .icon-linkedin:hover
    color #0077B5
  .icon-facebook:hover
    color #3B5998
  .icon-instagram:hover
    color #3F729B
  .icon-github:hover
    color #4183C4

#arts
  clearfix()
  .art
    .image
      position relative
      float left
      width 50%
      background-color #f0f0f0
      background-size cover
      background-position center
      -webkit-filter grayscale(100%)
      &:hover
        -webkit-filter grayscale(0%)
        transition all 0.5s ease
        cursor zoom-in
    .image-fullscreen
      position relative
      display none
      background rgba(#fff, .9)
      fixed top left
      size 100%
      cursor zoom-out
      img
        width image-width
        absolute top 50% left 50%
        transform translate(-50%, -50%)
  .fashion
    float left
    width 100%
    height 400px
    background-image url('/assets/arts/f.jpg')
    background-size cover
    background-position center
    padding-left 20px
    -webkit-filter grayscale(100%)
    display -webkit-box
    -webkit-box-align center
    &:hover
      -webkit-filter grayscale(0%)
      transition all 0.5s ease
      h1
        text-shadow: 4px 0px #000;
        transition all 0.3s ease
    h1
      color #FF65AF
      font-size 100px
      margin 0
      letter-spacing 1.5px
      
#techs
  clearfix()
  .tech
    overflow hidden
    float left
    width 100%
    height 300px
    background-color #f0f0f0
    display -webkit-box
    //-webkit-box-pack center
    -webkit-box-align center
    padding-left 20px
    -webkit-filter grayscale(100%)
    &:hover
      -webkit-filter grayscale(0%)
      transition all 0.3s ease
      cursor zoom-in
      h1
        text-shadow: 4px 0px #000;
        transition all 0.3s ease
    h1
      font-size 100px
      margin 0
      color #fff
      letter-spacing 1.5px

#about
  margin-top 50px
  h1
    font-size 30px
