svg(width='150px', height='150px', viewbox='0 0 150 150', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
  // Generator: Sketch 3.3.3 (12072) - http://www.bohemiancoding.com/sketch
  title logo
  desc Created with Sketch.
  defs
  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
    path#Line(d='M4,4 L4,146', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-7(d='M55,21 L55,71', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-10(d='M16,29 L16,63', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-11(d='M24,29 L24,63', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-12(d='M32,29 L32,63', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-13(d='M40,29 L40,63', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-14(d='M48,29 L48,63', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy(d='M67,4 L67,146', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-3(d='M112,-7 L145,73', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup', transform='translate(128.500000, 33.000000) scale(-1, 1) translate(-128.500000, -33.000000) ')
    path#Line-Copy-4(d='M65,-7 L98,73', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-6(d='M112,77 L145,157', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup', transform='translate(128.500000, 117.000000) scale(-1, -1) translate(-128.500000, -117.000000) ')
    path#Line-Copy-5(d='M65,77 L98,157', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup', transform='translate(81.500000, 117.000000) scale(1, -1) translate(-81.500000, -117.000000) ')
    path#Line(d='M16,5 L55,5', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-2(d='M16,13 L55,13', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-8(d='M16,21 L47,21', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-9(d='M16,71 L47,71', stroke='#000000', stroke-width='8', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line(d='M106,87 L135,154', stroke='#000000', stroke-width='4', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-18(d='M108,101 L137,168', stroke='#000000', stroke-width='4', stroke-linecap='square', sketch:type='MSShapeGroup')
    path#Line-Copy-15(d='M75,87 L104,154', stroke='#000000', stroke-width='4', stroke-linecap='square', sketch:type='MSShapeGroup', transform='translate(89.500000, 120.500000) scale(-1, 1) translate(-89.500000, -120.500000) ')
    path#Line-Copy-16(d='M77,92 L106,159', stroke='#000000', stroke-width='4', stroke-linecap='square', sketch:type='MSShapeGroup', transform='translate(91.500000, 125.500000) scale(-1, 1) translate(-91.500000, -125.500000) ')
    path#Line-Copy-17(d='M79,97 L108,164', stroke='#000000', stroke-width='4', stroke-linecap='square', sketch:type='MSShapeGroup', transform='translate(93.500000, 130.500000) scale(-1, 1) translate(-93.500000, -130.500000) ')
    path#Path-26(stroke='#000000', stroke-width='4', sketch:type='MSShapeGroup', d='')
    path#Path-27(d='M107.532583,107.208456 L89.4734657,148.139638 L124.310117,148.139638 L109.285031,111.651264 L94.7570828,144.060114 L118.899503,144.060114 L109.145657,119.917697 L100.384563,140.476394 L113.920905,140.070841 L109.183357,127.964789 L106.008617,136.536244 L109.755701,136.536244 L109.539787,134.122345', stroke='#000000', stroke-width='4', sketch:type='MSShapeGroup')
    path#Line(d='M107,106 L108,107', stroke='#000000', stroke-width='4', stroke-linecap='square', sketch:type='MSShapeGroup')
